<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script defer src="./scripts/addClasses.js"></script>
    <title>Homepage</title>
  </head>
  <body>
      <header>
        <div class="navbar">
            <a href="/">Home</a>
			
            <div class="login-container">
                <% if(profile == null) { %>
                    <a href="/login">Sign In</a>
                    <a href="/register">Register</a>
                <% }else{ %>
                    <a href="/profile">Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                    </form>
                <% } %>
                 

            </div>
          </div>
      </header>
    <h1 id="main"></h1>
    
    <div class="w3-row">
      <div id="purplediv" class="w3-rest w3-container w3-padding-32" style= "text-align: center;">

        <form action='/addClasses' enctype="multipart/form-data" method ='POST' name = 'addCourse'>
          <div class = 'w3-row'>
              <input placeholder='Enter a course Id' name='courseId'></div>
          <div class = 'w3-row'>
              <input placeholder='Enter Language of course' name='courseLanguage'></div>
          <div class = 'w3-row' >
              <input placeholder='Enter description of course' name='courseDesc'style = width:50%,height: 25%;></div>
          <div class = 'w3-row' >
              <input placeholder='Enter description of course' type = 'file' name='fileName'style = width:50%,height: 25%;></div>
          <div class = 'w3-row'>
              <button id = 'submitButton' type = 'submit' >Add Class</button></div>
        </form>

        <
        
      </div>
      <div id = "addingItems"style= "text-align: center; width:100%" ></div>
    </div>
  </body>
</html>
