<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">  
	
	<script>
		var slider;
		var output;
		
		var count = 1;
		function addquestionToSurvey() {
			
			var ques = "<h4>Enter Question</h4><input type=\"text\" name=\"question" + count + "\" />";
			var quesType = "<label for=\"qtype\">Enter Question type</label>";
			quesType += "<select name=\"qtype" + count + "\" id=\"qtype\">";
			quesType += "<option value=\"text\">Text Box</option>";
			quesType += "<option value=\"radio\">Multiple Choice</option>";
			quesType += "<option value=\"checkbox\">Select all that apply</option>";
			quesType += "</select>";
			var quesAnswers = "<h4>Enter Question Answers (If Apply)</h4>";
			quesAnswers += "<h5>Enter the answers in a comma seperated format!</h5>";
			quesAnswers +=   "<input type=\"text\" name=\"question" + count + "Answers\" />";
			var slider = "<div class=\"slidecontainer\">";
			slider += "<input type=\"range\" min=\"1\" max=\"10\" value=\"5\" class=\"slider\" id=\"range\" name=\"weightq" + count + "\" oninput=\"showVal(this.value)\" onchange=\"showVal(this.value)\">";
			slider += "<p>Value: <span id=\"valuedisplay\"></span></p>";
			slider += "</div>";
			
			
			var questionArea = document.getElementById("createSurvey");
			
			questionArea.innerHTML += "Question " + count + ":<br>";
			questionArea.innerHTML += ques + "<br>";
			questionArea.innerHTML += quesType + "<br>";
			questionArea.innerHTML += quesAnswers + "<br>";
			questionArea.innerHTML += slider + "<br><hr size=\"10\">";
			
			slider = document.getElementById("range");
			output = document.getElementById("valuedisplay");
			output.innerHTML = slider.value;
			
			count = count + 1;
			
		}
		
		function resetSurvey() {
			document.getElementById("createSurvey").innerHTML = "<h4>Enter Survey Title</h4>";
			document.getElementById("createSurvey").innerHTML += "<input type=\"text\" name=\"surveyTitle\" />";
			document.getElementById("createSurvey").innerHTML += "<br><hr size=\"10\">";
		}
		
		function showVal(value) {
			output.innerHTML = value;
		}
	</script>
	
    <title>Create Survey</title>
	
  </head>
  <body>
    <header>
      <div class="navbar">
			<img
				src="images/wcu_logo.png"
				alt="WCU Logo"
				id="logo"
				align="left"
				/>
          <a href="/">Home</a>
		  <a href="/survey">Example Survey</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
	<div id="setupQuestions" class="w3-full w3-container">	
	
		<button id="addq" type="button" onclick="addquestionToSurvey();">Add Question</button>
		<button id='submitSurvey' type='submit' form='createSurvey'>Save Survey</button>
		<button id='resetSurvey' type="button" onclick="resetSurvey();">Reset Survey</button>
		
		<form action="/createSurvey" enctype="multipart/form-data" method='POST' id='createSurvey'>
		
			<h4>Enter Survey Title</h4>
			<input type="text" name="surveyTitle" />
			<br><hr size="10">
			
		
		</form>
		
    </div>
	
	<div id="testingQ" class="w3-full w3-container">	
		
    </div>
	
  </body>
</html>

