<!DOCTYPE html>
<html lang="en">
  <head>
  <script type="text/javascript" src="./scripts/generateSurvey.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">  
	
	<script>
		function addquestionToSurvey() {
			
			var ques = document.getElementById("question");
			var quesType = "";
			var quesAnswers = "";
			
			document.getElementById("createSurvey").innerHTML += ques[0] + "<br>";
			document.getElementById("createSurvey").innerHTML += quesType + "<br>";
			document.getElementById("createSurvey").innerHTML += quesAnswers + "<br>";
			
		}
	</script>
	
    <title>Create Survey</title>
	
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
	<div id="setupQuestions" class="w3-full w3-container">	
		
		<form action="/createSurvey" enctype="multipart/form-data" method='POST' id='createSurvey'>
		
			<h4>Enter Survey Title</h4>
			<input type="text" id="surveyTitle" />
			
			
		
		</form>
		
    </div>
	
	<div id="adding" class="w3-full w3-container">	
		
		<h4>Enter Question</h4>
		<input type="text" id="question" />
		
		<label for="qtype">Enter Question type</label>
		<select name="qtype" id="qtype">
			<option value="text">Text Box</option>
			<option value="radio">Multiple Choice</option>
			<option value="checkbox">Select all that apply</option>
		</select>
		
		<h4>Enter Question Answers (If Apply)</h4>
		<h5>Enter the answers in a comma seperated format!</h5>
		<input type="text" id="questionAnswers" />

		<button id="addq" type="button" onclick="addquestionToSurvey();">Add Question</button>
		
    </div>

	
  </body>
</html>

