<!DOCTYPE html>
<html lang="en">
  <head>
  <script type="text/javascript" src="./scripts/generateSurvey.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">  
	
	<script>
		var count = 0;
		function addquestionToSurvey() {
			
			var ques = "<h4>Enter Question</h4><input type=\"text\" id=\"question" + count + "\" />";
			var quesType = "<label for=\"qtype\">Enter Question type</label>";
			quesType += "<select name=\"qtype\" id=\"qtype" + count + "\">";
			quesType += "<option value=\"text\">Text Box</option>";
			quesType += "<option value=\"radio\">Multiple Choice</option>";
			quesType += "<option value=\"checkbox\">Select all that apply</option>";
			quesType += "</select>";
			var quesAnswers = "<h4>Enter Question Answers (If Apply)</h4>";
			quesAnswers += "<h5>Enter the answers in a comma seperated format!</h5>";
			quesAnswers +=   "<input type=\"text\" id=\"question" + count + "Answers\" />";
			
			var questionArea = document.getElementById("createSurvey");
			
			questionArea.innerHTML += "Question " + count + ":<br>";
			questionArea.innerHTML += ques + "<br>";
			questionArea.innerHTML += quesType + "<br>";
			questionArea.innerHTML += quesAnswers + "<br><hr>";
			
			count = count + 1;
			
		}
	</script>
	
    <title>Create Survey</title>
	
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
	<div id="setupQuestions" class="w3-full w3-container">	
		
		<form action="/createSurvey" enctype="multipart/form-data" method='POST' id='createSurvey'>
		
			<h4>Enter Survey Title</h4>
			<input type="text" id="surveyTitle" />
			
			
		
		</form>
		
    </div>
	
	<div id="adding" class="w3-full w3-container">	

		<button id="addq" type="button" onclick="addquestionToSurvey();">Add Question</button>
		
    </div>

	
  </body>
</html>

