<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="./scripts/nav.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
	
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <div class="navbar" id="navbarArea">
	  
      </div>
    </header>
    <h1 id="main"></h1>
    
    
    <div class="w3-row">
      <div id="purplediv" class="w3-rest w3-container w3-padding-32">
        <div class ="w3-row" style="text-align: center;">

			<% if(user == null) { %>
            <div class = "w3-col" style = "width:50%">
              <button id="golddiv" class="w3-button"><a href="/login">Sign In</a></button>
            </div>
            <div class = "w3-col" style = "width:50%">
              <button id="golddiv" class="w3-button"><a href="/register">Register</a></button>
            </div>
			<% } %>
        </div>
      </div>
      
    </div>
	
	<div class="w3-full w3-container w3-padding-20 w3-margin-left w3-margin-right">
			<h2 style="text-align:center;"><b>About Team Builder</b></h2>
			<p>
				This site holds a team builder system, where teams are created based on surveys
				answered by the students. Teachers can create a class and add students to the class.
				Once students are added the teacher can create a custom survey for the students to answer.
				Based on these answers the team builder will assign students to a team based on the teachers
				suggest selection process. This process can select similar answers to group together or select 
				answer that are different.
			</p>
		</div>
    
    
  </body>
</html>
