
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Homepage</title>
  </head>
  <body>
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>

    <script>
      $(function() {
        $("#nav-placeholder").load("nav.html");
      });
    </script>
    <!--end of Navigation bar-->
    <h1 id="main"></h1>
    
    
    <div class="w3-row">
      <div class="w3-rest w3-container w3-orange w3-padding-32">
        <div class ="w3-row" style="text-align: center;">

          <% if(profile == null) { %>
            <div class = "w3-col" style = "width:50%">
              <button><a href="/login">Sign In</a></button>
            </div>
            <div class = "w3-col" style = "width:50%">
              <button><a href="/register">Register</a></button>
            </div>
          <% } else{%>
            <h2>Welcome</h2>
            
            <% } %>
        </div>
      </div>
      
    </div>
    
    
  </body>
</html>

