<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>
          <% if(profile != null) { %>
            <a href="/learn">Learn</a>
            <a href="/myClasses">My Classes</a> 
            <a href="/enrollment">Enroll</a>
          <% } %>

          <div class="login-container">
            <% if(profile != null) { %>
              <a href="/profile">Profile</a>
              <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit">Log Out</button>
              </form>
            <% } %>
             

        </div>
          
        </div>
    </header>
    <h1 id="main"></h1>
    
    
    <div class="w3-row">
      <div id="purplediv" class="w3-rest w3-container w3-padding-32">
        <div class ="w3-row" style="text-align: center;">

			<% if(profile == null) { %>
            <div class = "w3-col" style = "width:50%">
              <button id="golddiv" class="w3-button"><a href="/login">Sign In</a></button>
            </div>
            <div class = "w3-col" style = "width:50%">
              <button id="golddiv" class="w3-button"><a href="/register">Register</a></button>
            </div>
			<% } %>
        </div>
      </div>
      
    </div>
	
	<div class="w3-full w3-container w3-padding-20 w3-margin-left w3-margin-right">
			<h2 style="text-align:center;"><b>About Progranimate</b></h2>
			<p>
				Progranimate is a dynamic visualisation programming tool aimed at the
				novice programmer. Its aim is to make the initial stages of programming
				more palatable for the novice. Progranimate removes the complexities
				associated with novice exposure to professional development environments
				and the impact of writing syntax. This allows novices to focus solely on
				their key weakness, that of the algorithmic problem solving aspects of
				programming involving the basics of sequence selection and iteration.
			</p>
		</div>
    
    
  </body>
</html>

