<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script defer src="./scripts/enrollmentScript.js"></script>
    <title>Homepage</title>
  </head>
  <body>
      <header>
        <div class="navbar">
            
            <a href="/">Home</a>
            
            <div class="login-container" >
              <a href="/profile">Profile</a>
              <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit">Log Out</button>
              </form>
                
            </div>
          </div>
      </header>
    <h1 id="main"></h1>
    
    
      <div id="purplediv" class="w3-rest w3-container w3-padding-32" style = "width: 100%;">
        
        <div style = "text-align: center;">
          
          <% if(user.verified != true){%>
            <form action="/myClasses" method="POST">
              Your account is not verified yet. Please verify your account now<br>
              Resend a link to your email? <button id = "resend_link" name = "resend_link" type="submit">Click here</button>
            </form> 
            
          <% }else{ %>
            <h2 style="text-align:center;">
              Current Courses:
            </h2>
            <% if(user.Enrolled.length == 0){ %>
              
              You are currently not enrolled in any courses. Enroll below<br>
              
            <%}else{ %>
                Currently working on:
                <% for(let i=0; i< user.Enrolled.length;i++){ %>
                    
                        <div class = "w3-row" style = "border-top: 1px solid black;border: 1px solid black">
                            
                            <div class = 'w3-col' style = "height : fit-content;width: 33%;">
                              Course id: <%= user.Enrolled[i].course_id %>
                            </div>
                            <div class = 'w3-col'style = "height : fit-content;width: 33; ">
                              Course Language: <%= user.Enrolled[i].course_language %>
                            </div>
                            <div class = 'w3-col'style = "height : fit-content;width: 33%;">
                              Course description: <%= user.Enrolled[i].description %>
                            </div>
        
                          </div>
                    
                <% } %>
                
                
            <% }%>
          <% } %>
        </div>
      </div>
        
        
      
    
    
    
  </body>
</html>