<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="w3.css" />
  </head>
  <body>
    <div class="navbar">
      <img
        src="https://cdn.glitch.com/39556a59-4e77-4e86-b187-a0f56ace6658%2FProgranimate.png?v=1600300155483"
        alt="Progranimate Logo"
        id="logo"
        align="left"
      />
      <a href="index.html">Home</a>
      <a href="create.html">Create</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="enroll.html">Enroll</a>
      <a href="learn.html">Learn</a>

      <div class="login-container">
        <a href="login.html">Sign In</a>
        <a href="signup.html">Register</a>
      </div>
    </div>
    <h1 id="main"></h1>
    
  </body>
</html>
