<!DOCTYPE html>

<?php
$message = "";
if(isset($_POST['SubmitButton'])){ //check if form was submitted
  $input = $_POST['inputText']; //get input text
  $message = "Success! You entered: ".$input;
}    
?>




<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Questions</title>
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>

          <div class="login-container">
            <% if(user != null) { %>
              <a href="/profile">Profile</a>
              <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit">Log Out</button>
              </form>
            <% } %>
             
        </div>
        </div>
		
		<form action="" method="post">
			<?php echo $message; ?>
			<input type="text" name="inputText"/>
			<input type="submit" name="SubmitButton"/>
		</form>   
		
    </header>
    <h1 id="main"></h1>
	
  </body>
</html>

