<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Questions</title>
	
	<script>
        function testfunc() {
            var ans1 = document.getElementById("q1").value;    
			
			//TODO Question 2
			
            //var ans3 = document.getElementById("q3").checked;
			//var ans4 = document.getElementById("q4").value;
			//var ans5 = document.getElementById("q5").checked;
			//var ans6 = document.getElementById("q6").value;
			//var ans7 = document.getElementById("q7").checked;
			
			//var q8Rad = document.getElementByName("weird");
			
			//var ans8 = "";
			
			//for (var i = 0, len = q8Rad.length; i < len; i++) {
			//	if (q8Rad[i].checked) {
			//		ans8 = q8Rad[i].value;
			//		break;
			//	}
			//}
			
			//document.write("TEST");
            
			var result = ans1;// + ', ' + ans3 + ', ' + ans4;
			//result += ', ' + ans5 + ', ' + ans6 + ', ' + ans7;
			//result += ', ' + ans8;
            document.getElementById('result').textContent = result;
        }
    </script>
	
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
		
		<h4>What is your current GPA?</h4>
		<input type="text" id="q1" />
		
		
		<span id="result"></span>
		<button  onclick="testfunc()">Submit</button> <br />
    
	
  </body>
</html>

