<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Questions</title>
	
	<script>
        function testfunc() {
            var ans1 = document.getElementById("q1").value;    
			
			//TODO Question 2
			
            var ans3 = document.getElementById("q3").checked;
			var ans4 = document.getElementById("q4").value;
			var ans5 = document.getElementById("q5").checked;
			var ans6 = document.getElementById("q6").value;
			var ans7 = document.getElementById("q7").checked;
			
			var q8Rad = document.getElementByName("weird");
			
			var ans8 = "";
			
			for (var i = 0, len = q8Rad.length; i < len; i++) {
				if (q8Rad[i].checked) {
					ans8 = q8Rad[i].value;
					break;
				}
			}
			
			document.write("TEST");
            
			var result = ans1 + ', ' + ans3 + ', ' + ans4;
			result += ', ' + ans5 + ', ' + ans6 + ', ' + ans7;
			result += ', ' + ans8;
            document.getElementById('result').textContent = result;
        }
    </script>
	
  </head>
  <body>
    <header>
      <div class="navbar">
          <a href="/">Home</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
		
		<h4>What is your current GPA?</h4>
		<input type="text" id="q1" />
		
		<h4>What times are you available?</h4>
		<table style="width:100%">
			<tr>
				<th>Time</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>
			<tr>
				<td>8am</td>
				<td><input type="checkbox" id="q2sun1" /></td>
				<td><input type="checkbox" id="q2mon1" /></td>
				<td><input type="checkbox" id="q2tue1" /></td>
				<td><input type="checkbox" id="q2wed1" /></td>
				<td><input type="checkbox" id="q2thr1" /></td>
				<td><input type="checkbox" id="q2fri1" /></td>
				<td><input type="checkbox" id="q2sat1" /></td>
			</tr>
			<tr>
				<td>9am</td>
				<td><input type="checkbox" id="q2sun2" /></td>
				<td><input type="checkbox" id="q2mon2" /></td>
				<td><input type="checkbox" id="q2tue2" /></td>
				<td><input type="checkbox" id="q2wed2" /></td>
				<td><input type="checkbox" id="q2thr2" /></td>
				<td><input type="checkbox" id="q2fri2" /></td>
				<td><input type="checkbox" id="q2sat2" /></td>
			</tr>
			<tr>
				<td>10am</td>
				<td><input type="checkbox" id="q2sun3" /></td>
				<td><input type="checkbox" id="q2mon3" /></td>
				<td><input type="checkbox" id="q2tue3" /></td>
				<td><input type="checkbox" id="q2wed3" /></td>
				<td><input type="checkbox" id="q2thr3" /></td>
				<td><input type="checkbox" id="q2fri3" /></td>
				<td><input type="checkbox" id="q2sat3" /></td>
			</tr>
			<tr>
				<td>11am</td>
				<td><input type="checkbox" id="q2sun4" /></td>
				<td><input type="checkbox" id="q2mon4" /></td>
				<td><input type="checkbox" id="q2tue4" /></td>
				<td><input type="checkbox" id="q2wed4" /></td>
				<td><input type="checkbox" id="q2thr4" /></td>
				<td><input type="checkbox" id="q2fri4" /></td>
				<td><input type="checkbox" id="q2sat4" /></td>
			</tr>
			<tr>
				<td>12pm</td>
				<td><input type="checkbox" id="q2sun5" /></td>
				<td><input type="checkbox" id="q2mon5" /></td>
				<td><input type="checkbox" id="q2tue5" /></td>
				<td><input type="checkbox" id="q2wed5" /></td>
				<td><input type="checkbox" id="q2thr5" /></td>
				<td><input type="checkbox" id="q2fri5" /></td>
				<td><input type="checkbox" id="q2sat5" /></td>
			</tr>
			<tr>
				<td>1pm</td>
				<td><input type="checkbox" id="q2sun6" /></td>
				<td><input type="checkbox" id="q2mon6" /></td>
				<td><input type="checkbox" id="q2tue6" /></td>
				<td><input type="checkbox" id="q2wed6" /></td>
				<td><input type="checkbox" id="q2thr6" /></td>
				<td><input type="checkbox" id="q2fri6" /></td>
				<td><input type="checkbox" id="q2sat6" /></td>
			</tr>
			<tr>
				<td>2pm</td>
				<td><input type="checkbox" id="q2sun7" /></td>
				<td><input type="checkbox" id="q2mon7" /></td>
				<td><input type="checkbox" id="q2tue7" /></td>
				<td><input type="checkbox" id="q2wed7" /></td>
				<td><input type="checkbox" id="q2thr7" /></td>
				<td><input type="checkbox" id="q2fri7" /></td>
				<td><input type="checkbox" id="q2sat7" /></td>
			</tr>
			<tr>
				<td>3pm</td>
				<td><input type="checkbox" id="q2sun8" /></td>
				<td><input type="checkbox" id="q2mon8" /></td>
				<td><input type="checkbox" id="q2tue8" /></td>
				<td><input type="checkbox" id="q2wed8" /></td>
				<td><input type="checkbox" id="q2thr8" /></td>
				<td><input type="checkbox" id="q2fri8" /></td>
				<td><input type="checkbox" id="q2sat8" /></td>
			</tr>
			<tr>
				<td>4pm</td>
				<td><input type="checkbox" id="q2sun9" /></td>
				<td><input type="checkbox" id="q2mon9" /></td>
				<td><input type="checkbox" id="q2tue9" /></td>
				<td><input type="checkbox" id="q2wed9" /></td>
				<td><input type="checkbox" id="q2thr9" /></td>
				<td><input type="checkbox" id="q2fri9" /></td>
				<td><input type="checkbox" id="q2sat9" /></td>
			</tr>
			<tr>
				<td>5pm</td>
				<td><input type="checkbox" id="q2sun10" /></td>
				<td><input type="checkbox" id="q2mon10" /></td>
				<td><input type="checkbox" id="q2tue10" /></td>
				<td><input type="checkbox" id="q2wed10" /></td>
				<td><input type="checkbox" id="q2thr10" /></td>
				<td><input type="checkbox" id="q2fri10" /></td>
				<td><input type="checkbox" id="q2sat10" /></td>
			</tr>
			<tr>
				<td>6pm</td>
				<td><input type="checkbox" id="q2sun11" /></td>
				<td><input type="checkbox" id="q2mon11" /></td>
				<td><input type="checkbox" id="q2tue11" /></td>
				<td><input type="checkbox" id="q2wed11" /></td>
				<td><input type="checkbox" id="q2thr11" /></td>
				<td><input type="checkbox" id="q2fri11" /></td>
				<td><input type="checkbox" id="q2sat11" /></td>
			</tr>
			<tr>
				<td>7pm</td>
				<td><input type="checkbox" id="q2sun12" /></td>
				<td><input type="checkbox" id="q2mon12" /></td>
				<td><input type="checkbox" id="q2tue12" /></td>
				<td><input type="checkbox" id="q2wed12" /></td>
				<td><input type="checkbox" id="q2thr12" /></td>
				<td><input type="checkbox" id="q2fri12" /></td>
				<td><input type="checkbox" id="q2sat12" /></td>
			</tr>
			<tr>
				<td>8pm</td>
				<td><input type="checkbox" id="q2sun13" /></td>
				<td><input type="checkbox" id="q2mon13" /></td>
				<td><input type="checkbox" id="q2tue13" /></td>
				<td><input type="checkbox" id="q2wed13" /></td>
				<td><input type="checkbox" id="q2thr13" /></td>
				<td><input type="checkbox" id="q2fri13" /></td>
				<td><input type="checkbox" id="q2sat13" /></td>
			</tr>
			<tr>
				<td>9pm</td>
				<td><input type="checkbox" id="q2sun14" /></td>
				<td><input type="checkbox" id="q2mon14" /></td>
				<td><input type="checkbox" id="q2tue14" /></td>
				<td><input type="checkbox" id="q2wed14" /></td>
				<td><input type="checkbox" id="q2thr14" /></td>
				<td><input type="checkbox" id="q2fri14" /></td>
				<td><input type="checkbox" id="q2sat14" /></td>
			</tr>
		</table>
		
		<h4>Do you live on campus?</h4>
		<input type="checkbox" id="q3" />
		
		<h4>What is your age?</h4>
		<input type="text" id="q4" />
		
		<h4>Do you work?</h4>
		<input type="checkbox" id="q5" />
		
		<h4>How much work do you put into homework? In hours.</h4>
		<input type="text" id="q6" />
		
		<h4>Have you taken CS???</h4>
		<input type="checkbox" id="q7" />
		
		<h4>Answer the question!</h4>
		<form>
			<input type="radio" name="weird" value="this">This</input>
			<input type="radio" name="weird" value="that">That</input>
			<input type="radio" name="weird" value="bob">Bob from accounting</input>
		</form>
		
		<span id="result"></span>
		<button  onclick="testfunc()">Submit</button> <br />
    
	
  </body>
</html>

