<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    
    <title>Questions</title>
	
	<script>
        function testfunc() {
            var ans1 = document.getElementById("q1").value; 
			
			var q2Check = document.getElementsByName("schedule");
			var ans2 = "[";
			
			for (var i = 0, len = q2Check.length; i < len; i++) {
				ans2 += q2Check[i].checked + ",";
			}
			ans2 = ans2.slice(0, -1);
			ans2 += "]";
			
            var ans3 = document.getElementById("q3").checked;
			var ans4 = document.getElementById("q4").value;
			var ans5 = document.getElementById("q5").checked;
			var ans6 = document.getElementById("q6").value;
			var ans7 = document.getElementById("q7").checked;
			
			var q8Rad = document.getElementsByName("weird");
			
			var ans8 = "";
			
			for (var i = 0, len = q8Rad.length; i < len; i++) {
				if (q8Rad[i].checked) {
					ans8 = q8Rad[i].value;
					break;
				}
			}
            
			var result = ans1 + ', ' + ans2 + ', ' + ans3 + ', ' + ans4;
			result += ', ' + ans5 + ', ' + ans6 + ', ' + ans7 + ', ' + ans8;
            document.getElementById('result').textContent = result;
        }
    </script>
	
  </head>
  <body>
    <header>
      <div class="navbar">
			<img
				src="images/wcu_logo.png"
				alt="WCU Logo"
				id="logo"
				align="left"
				/>
          <a href="/">Home</a>
        </div>
    </header>
	
    <h1 id="main"></h1>
	
	<div id="learn" class="w3-full w3-container">	
		<!-- Question 1 -->
		<h4>What is your current GPA?</h4>
		<input type="text" id="q1" />
		
		<!-- Question 2 Schedule -->
		<h4>What times are you available?</h4>
		<table>
			<tr> <!-- Headers -->
				<th>Time</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
			</tr>
			<tr> <!-- Times -->
				<td>8am</td>
				<td><input type="checkbox" id="q2sun1" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon1" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue1" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed1" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr1" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri1" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat1" name="schedule"/></td>
			</tr>
			<tr>
				<td>9am</td>
				<td><input type="checkbox" id="q2sun2" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon2" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue2" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed2" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr2" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri2" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat2" name="schedule"/></td>
			</tr>
			<tr>
				<td>10am</td>
				<td><input type="checkbox" id="q2sun3" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon3" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue3" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed3" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr3" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri3" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat3" name="schedule"/></td>
			</tr>
			<tr>
				<td>11am</td>
				<td><input type="checkbox" id="q2sun4" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon4" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue4" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed4" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr4" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri4" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat4" name="schedule"/></td>
			</tr>
			<tr>
				<td>12pm</td>
				<td><input type="checkbox" id="q2sun5" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon5" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue5" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed5" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr5" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri5" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat5" name="schedule"/></td>
			</tr>
			<tr>
				<td>1pm</td>
				<td><input type="checkbox" id="q2sun6" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon6" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue6" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed6" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr6" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri6" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat6" name="schedule"/></td>
			</tr>
			<tr>
				<td>2pm</td>
				<td><input type="checkbox" id="q2sun7" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon7" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue7" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed7" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr7" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri7" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat7" name="schedule"/></td>
			</tr>
			<tr>
				<td>3pm</td>
				<td><input type="checkbox" id="q2sun8" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon8" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue8" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed8" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr8" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri8" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat8" name="schedule"/></td>
			</tr>
			<tr>
				<td>4pm</td>
				<td><input type="checkbox" id="q2sun9" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon9" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue9" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed9" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr9" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri9" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat9" name="schedule"/></td>
			</tr>
			<tr>
				<td>5pm</td>
				<td><input type="checkbox" id="q2sun10" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon10" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue10" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed10" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr10" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri10" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat10" name="schedule"/></td>
			</tr>
			<tr>
				<td>6pm</td>
				<td><input type="checkbox" id="q2sun11" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon11" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue11" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed11" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr11" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri11" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat11" name="schedule"/></td>
			</tr>
			<tr>
				<td>7pm</td>
				<td><input type="checkbox" id="q2sun12" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon12" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue12" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed12" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr12" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri12" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat12" name="schedule"/></td>
			</tr>
			<tr>
				<td>8pm</td>
				<td><input type="checkbox" id="q2sun13" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon13" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue13" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed13" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr13" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri13" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat13" name="schedule"/></td>
			</tr>
			<tr>
				<td>9pm</td>
				<td><input type="checkbox" id="q2sun14" name="schedule"/></td>
				<td><input type="checkbox" id="q2mon14" name="schedule"/></td>
				<td><input type="checkbox" id="q2tue14" name="schedule"/></td>
				<td><input type="checkbox" id="q2wed14" name="schedule"/></td>
				<td><input type="checkbox" id="q2thr14" name="schedule"/></td>
				<td><input type="checkbox" id="q2fri14" name="schedule"/></td>
				<td><input type="checkbox" id="q2sat14" name="schedule"/></td>
			</tr>
		</table>
		
		<!-- Question 3 -->
		<h4>Do you live on campus?</h4>
		<input type="checkbox" id="q3" />
		
		<!-- Question 4 -->
		<h4>What is your age?</h4>
		<input type="text" id="q4" />
		
		<!-- Question 5 -->
		<h4>Do you work?</h4>
		<input type="checkbox" id="q5" />
		
		<!-- Question 6 -->
		<h4>How much work do you put into homework? In hours.</h4>
		<input type="text" id="q6" />
		
		<!-- Question 7 -->
		<h4>Have you taken CS???</h4>
		<input type="checkbox" id="q7" />
		
		<!-- Question 8 (This is just a test for a multiple choice question) -->
		<h4>Answer the question!</h4>
		<form>
			<input type="radio" name="weird" value="this">This</input>
			<input type="radio" name="weird" value="that">That</input>
			<input type="radio" name="weird" value="bob">Bob from accounting</input>
		</form>
		<!-- Where the results are printed (This is temporary) -->
		<span id="result"></span>
		<button  onclick="testfunc()">Submit</button> <br />
    </div>
	
  </body>
</html>

