<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="./scripts/nav.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
	
    <title>Reset Password</title>
  </head>
  <body>
    <header>
      <div class="navbar" id="navbarArea">
			<img
				src="images/wcu_logo.png"
				alt="WCU Logo"
				id="logo"
				align="left"
				/>
			<a href="/">Home</a>
            <% if(user != null) { %>
              <a href="/myClasses">My Classes</a> 
            <% } %>
            <a href="/survey">Example Survey</a>
      
            <div class="login-container">
                
                 

            </div>
      </div>
    </header>
    <h1 id="main"></h1>
    
    
    <div class="w3-row">
      <div id="purplediv" class="w3-rest w3-container w3-padding-32">
        <div class ="w3-row" style="text-align: center;">

            <% if(error != null){ %>
                <div class="w3-row"> <%= error %> </div>
             <% } %>
 			<form action="/resetPassword" method="Post">
                <label name='email'>Please enter your email below</label><br>
                <input name= 'email'>
                <button type ="submit" >Submit</button>
            </form>
        </div>
      </div>
      
    </div>

    
    
  </body>
</html>
