<!DOCTYPE html>
<html lang="en">
  <head>
	
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src ="/scripts/passwordStrength.js" defer></script>
    <title>Set Password</title>
  </head>
  <body>
    <header>
      <div class="navbar" id="navbarArea">
			<img
				src="/images/wcu_logo.png"
				alt="WCU Logo"
				id="logo"
				align="left"
				/>
			<a href="/">Home</a>
            <% if(user != null) { %>
              <a href="/myClasses">My Classes</a> 
            <% } %>
            <a href="/survey">Example Survey</a>
      
            
      </div>
    </header>
    <h1 id="main"></h1>
    
    
    <div class="w3-row">
      
      <div id="purplediv" class="w3-rest w3-container w3-padding-32" style = 'text-align: center;'>
        <div class = "w3-row" style = "text-align: center;margin-top: 2%;" id = "error-message">
            
          <% if(error != null){%>
          <%= error %>
          <% } %>
          
      </div>
        <div class ="w3-row" style="text-align: center;">
          <form action='/setPassword/<%= user.temporaryPassword %>' method="POST" id="formToSubmit" onsubmit= "event.preventDefault()">
            <label name= 'firstPassword'>Enter New Password</label><br>
            <input name="firstPassword" type = "password" id = "password"><br>
            <label name= 'secondPassword'>Enter New Password Again</label><br>
            <input name="secondPassword"type = "password" id = "password2"><br>

            <div class = "strength-meter" id ="strength-meter"></div> 
            <div id="reasons" class="reasons"></div>
            <button id = "submitButton">Submit</button>
          </form>
        </div>
      </div>
      
    </div>

    
    
  </body>
</html>
