<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src = "./scripts/addStudent.js"></script>
    <title>Edit Course</title>
  </head>
  <body>
      <header>
        <div class="navbar">
            
            <a href="/">Home</a>
            <% if(user != null) { %>
              <a href="/myClasses">My Classes</a> 
            <% } %>
            
      
            <div class="login-container">
                <% if(user == null) { %>
                    <a href="/login">Sign In</a>
                    <a href="/register">Register</a>
                <% }else{ %>
                    <a href="/profile">Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                    </form>
                <% } %>
                 

            </div>
          </div>
      </header>
    <h1 id="main"></h1>
    
    <div class="w3-row" id = "purplediv">
      <div class="w3-rest w3-container  w3-padding-32" style= "text-align: center; ">

          <% if(error != null){%>
          <%= error %>
          <% } %>
          <br>
        <button><a href= "/classesInfo" style = "text-decoration: none;">Exit</a></button><br>
        Class: <%= course.course_id %>-<%=course.section %> 
        
        <br>
        
        <% if(course.surveys.length == 0){ %>
            There are no surveys for this class yet
        
        <% }else{ %>



        <% } %>

        
        
        
      </div>
      <div id = "addingItems"style= "text-align: center; width:100%" ></div>
    </div>
  </body>
</html>
